<div class="show-top-grids" ng-controller="movies" ng-init="loadMovies()">
    <div class="col-sm-10 show-grid-left main-grids">
        <div class="recommended">
            <div class="recommended-grids english-grid">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>English</h3> </div>
                    <div class="heading-right"> <a href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a> </div>
                    <div class="clearfix"> </div>
                </div>
                 <div class="col-md-3 resent-grid recommended-grid movie-video-grid" ng-repeat="x in movies.english">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href={{"#/watch/"+x.videoId}}><img ng-src={{x.thumbnail}} alt={{s.title}} /></a>
                        <div class="time small-time show-time movie-time">
                            <p>{{x.duration}}</p>
                        </div>
                        <div class="clck movie-clock"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                        <h5><a href={{"#/watch/"+x.videoId}} class="title">{{x.title}}</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">{{x.type|capitalize}}</a></p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">{{x.ageGroup}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="clearfix"> </div>
            </div>
        </div>
        
        <div class="recommended">
            <div class="recommended-grids">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>Hindi</h3> </div>
                    <div class="heading-right"> <a href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a> </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid movie-video-grid" ng-repeat="x in movies.hindi">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href={{"#/watch/"+x.videoId}}><img ng-src={{x.thumbnail}} alt={{s.title}} /></a>
                        <div class="time small-time show-time movie-time">
                            <p>{{x.duration}}</p>
                        </div>
                        <div class="clck movie-clock"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                        <h5><a href={{"#/watch/"+x.videoId}} class="title">{{x.title}}</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">{{x.type|capitalize}}</a></p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">{{x.ageGroup}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
               
                </div>
                <div class="clearfix"> </div>
            </div>
    </div>
    <div class="col-md-2 show-grid-right">
        <h3>Upcoming Channels</h3>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">English Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Chinese Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Hindi Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Telugu Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Tamil Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Kannada Movies</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/mv.png" alt="" /></a>
                </li>
                <li><a href="#">Marathi movies</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>