<div class="show-top-grids" ng-controller="shows" ng-init="loadShows()">
    <div class="col-sm-10 show-grid-left main-grids">
                
           <div class="recommended">
            <div class="recommended-grids">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>English</h3> </div>
                    <div class="heading-right"> <a href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a> </div>
                    <div class="clearfix"> </div>
                </div>
                
                <div class="col-md-2 resent-grid recommended-grid show-video-grid" ng-repeat="x in shows.english">
                    <div class="resent-grid-img recommended-grid-img">
                       <a href={{"#/watch/"+x.videoId}}><img ng-src={{x.thumbnail}} alt={{s.title}} /></a>
                        <div class="time small-time show-time">
                            <p>{{x.duration}}</p>
                        </div>
                        <div class="clck show-clock"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5><a href="single.html" class="title">{{x.title}}</a></h5>
                        <p class="author"><a href="#" class="author">{{x.type|capitalize}}</a></p>
                        <p class="views">{{x.ageGroup}}</p>
                    </div>
                </div>
                
                <div class="clearfix"> </div>
            </div>
        </div>   
           
         <div class="recommended">
            <div class="recommended-grids">
                <div class="recommended-info">
                    <div class="heading">
                        <h3>Hindi</h3> </div>
                    <div class="heading-right"> <a href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a> </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-2 resent-grid recommended-grid show-video-grid" ng-repeat="x in shows.hindi">
                    <div class="resent-grid-img recommended-grid-img">
                       <a href={{"#/watch/"+x.videoId}}><img ng-src={{x.thumbnail}} alt={{s.title}} /></a>
                        <div class="time small-time show-time">
                            <p>{{x.duration}}</p>
                        </div>
                        <div class="clck show-clock"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info">
                        <h5><a href="single.html" class="title">{{x.title}}</a></h5>
                        <p class="author"><a href="#" class="author">{{x.type|capitalize}}</a></p>
                        <p class="views">{{x.ageGroup}}</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-2 show-grid-right">
        <h3>Upcoming Channels</h3>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Spanish TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Italian TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Dutch TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Chinese TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Russian TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Hindi TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Telugu TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Tamil TV Shows</a></li>
            </ul>
        </div>
        <div class="show-right-grids">
            <ul>
                <li class="tv-img">
                    <a href="#"><img src="assets/images/tv.png" alt="" /></a>
                </li>
                <li><a href="#">Marathi TV Shows</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>